body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
}

.navigation .current {
  position: relative;
  color: #404bbf;
}

.nav-header.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.top {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  display: flex;
  justify-content: space-between;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.soc-list {
  list-style: none;
}

.list {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.list-wrap {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.list-nav {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  padding: 24px 0px;
  gap: 40px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.nav-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-header:hover,
.nav-header:focus {
  color: #404bbf;
}

.nav-header:active {
  border-bottom: 4px solid #404bbf;
  border-radius: 2px;
}

.address {
  font-style: normal;
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-type:hover,
.address-type:focus {
  color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.why-us-list {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  gap: 24px;
}

.why-us-element {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: calc((100% - 72px) / 4);
}

.titles-why-us {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.title-elements-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-why-us {
  padding: 120px 0px;
}

.section-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 188px 0px;
  background: #2e2f42;
  background-image: linear-gradient(to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.icon-border {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  width: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background: #f4f4fd;
  margin-bottom: 8px;
}

.soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-border .social:hover .social-icon,
.team-border .social:focus .social-icon {
  transform: translate(-50%, -50%) scale(1.5);
}

.team-border .social:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms ease-in-out;
}

.section-team {
  padding: 120px 0px;
  background-color: #f4f4fd;
}

.section-portfolio {
  padding: 120px 0px;
}

.title-section {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.studio {
  color: #2e2f42;
}

.studio-bottom {
  color: #f4f4fd;
}

.title {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto 48px;
}

.our-team {
  background: #f4f4fd;
  color: #2e2f42;
}

.order-service {
  display: block;
  margin: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service:hover,
.order-service:focus {
  cursor: pointer;
  background: #404bbf;
}

.section-team .container,
.section-portfolio .container,
.section-order .container {
  display: block;
  justify-content: space-between;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.teammate {
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  background: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.teammate:hover .social,
.teammate:focus .social {
  background-color: #404bbf;
}

.team-border {
  padding: 32px 0;
}

.list-team {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
}

.team-border .description {
  text-align: center;
  margin-bottom: 8px;
}

.name-teammate {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-list {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-img {
  position: relative;
  overflow: hidden;
}

.port-img p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover .port-img p,
.portfolio-list:focus .port-img p {
  transform: translateY(0%);
}

.portfolio-list:hover,
.portfolio-list:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  cursor: pointer;
}

.port-border {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.bottom,
.bottom .container {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  background: #2e2f42;
}

.bottom {
  display: flex;
  padding: 100px 0;
}

.bottom .container .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.description-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 100%;
  margin-bottom: 16px;
}

.footer-social {
  margin-right: 80px;
}

.footer-social .description-footer,
.footer-subscribe .description-footer {
  margin-bottom: 16px;
  font-weight: 500;
  color: #ffffff;
}

.bottom .social-item .social:hover,
.bottom .social-item .social:focus {
  background-color: #31d0aa;
}

.footer-social .soc-list {
  gap: 16px;
}

.logo-descr {
  margin-right: 120px;
  min-width: 264px;
}

input {
  font-family: inherit;
}

button {
  font-family: inherit;
  color: currentColor;
}

.footer-subscribe {
  min-width: 453px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.email-address {
  margin: 0;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #2e2f42;
  color: #ffffff;
  font-weight: 400;
  background-color: transparent; 
  outline: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.email-address:focus-within {
  border: 1px solid #4d5ae5;
  outline: transparent;
}

.email-address::placeholder {
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.button-footer {
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer
}

.button-footer:hover,
.button-footer:focus {
  cursor: pointer;
  background-color: #31d0aa;
}

.icon-send {
  fill: #fff;
  margin-left: 16px;
}

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 408px;
  min-height: 584px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  margin-bottom: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  padding: 0;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.close:hover,
.close:focus {
  background-color: #404bbf;
  border: none;
}

.close:hover .icon-close,
.close:focus .icon-close {
  fill: #ffffff;
}

.icon-close {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.order-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.label-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}
.label-box-area {
  margin-bottom: 16px;
  width: 100%;
}

.name-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.link-privacy-policy {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.button-modal {
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer
}

.button-modal:hover,
.button-modal:focus {
  cursor: pointer;
  background: #404bbf;
}

.input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 11px 16px 11px 38px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  background-color: transparent; 
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.input:focus-within {
  border: 1px solid #4d5ae5;
  outline: transparent;
}

.area-input:focus-within {
  border: 1px solid #4d5ae5;
  outline: transparent;
}

.input:focus+.icon-input {
  fill: #4d5ae5;
}

.input-box {
  position: relative;
}

.area-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.area-input::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.checkbox {
  margin-bottom: 24px;
}

.icon-input {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden:checked+label>.check-span {
  background-color: #404bbf;
  fill: #F4F4FD;
  border: none;
}

.visually-hidden:checked+label>.check-span .icon-check {
  fill: #fff;
}

.check-span {
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  display: inline-flex;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  position: relative;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-span:checked {
  background-color: #404bbf;
  border: none;
}

.icon-check {
  position: absolute;
  fill: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-check:checked {
  fill: #f4f4fd;
}